<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="webike.webike">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddUserActivity" />
        <activity android:name=".CreateGroupActivity" />
        <activity android:name=".HelpButtonActivity" />
        <activity android:name=".PanicButtonActivity" />
        <activity android:name=".PlaceActivity" />
        <activity android:name=".PlannedRouteActivity" />
        <activity
            android:name=".PublicationsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SpecialPublicationsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".HomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".PublicationActivity" />
        <activity android:name=".InviteGroupActivity" />
        <activity android:name=".SearchUserActivity" />
        <activity android:name=".ubicacion.Map" />
        <activity android:name=".AddFriendActivity" />
        <activity android:name=".ConfigActivity" />
        <activity android:name=".ManualActivity" />
        <activity
            android:name=".WriteMessageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".OrgProfileActivity" />
        <activity android:name=".ubicacion.MapCreateRoute" />
        <activity android:name=".RouteActivity" />
        <activity android:name=".RoutesActivity" />
        <activity android:name=".AddFriendToGroup" />
        <activity android:name=".CreatePlacePromotionActivity" />
        <activity android:name=".CreatePlannedRouteActivity" />
        <activity
            android:name=".MailboxActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".TipActivity"></activity>
        <activity android:name=".SelectUserTypeActivity" />
        <activity android:name=".OrgRegisterActivity" />
        <activity android:name=".OrgEditInfoActivity"></activity>
    </application>

</manifest>
